## sudoers.conf
#
# sudo config for user {{ item.name }}

{% if item.sudo | default(false) %}
{{ item.name }} ALL=(ALL:ALL) {{ "NOPASSWD:" if item.nopasswd | default(false) else "" }}ALL
{% endif %}
{% for user in item.sudo_users | default([]) %}
{{ item.name }} ALL=({{ user }}) {{ "NOPASSWD:" if item.nopasswd | default(false) else "" }}ALL
{% endfor %}
