## nginx.conf
#
# Snippet that allows Cloudflare clients only. Useful for webs behind
# Cloudflare reverse proxy. Do not forget to include `deny all` and other
# `allow ...` directives as well

{% for item in _cloudflare_subnets %}
allow {{ item }};
{% endfor %}
