## default nginx vhost
#

server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name {{ vhost.server_name }} {{ vhost.aliases | default([]) | join(" ") }};

    include snippets/common.conf;
    include snippets/simp_le.conf;

    root /var/www/html;

    index index.html;
    location / {
        try_files $uri $uri/ =404;
    }
}
