## default nginx https vhost
#

server {
    listen 443 ssl http2 default_server;
    listen [::]:443 ssl http2 default_server;

    server_name {{ vhost.server_name }} {{ vhost.aliases | default([]) | join(" ") }};

    include snippets/common.conf;
    include snippets/simp_le.conf;
{% if vhost.enable_tls13 %}
    include snippets/tls_1.3-1.2.conf;
{% else %}
    include snippets/tls_1-2.conf;
{% endif %}


{% if vhost.https_letsencrypt | default(true) %}
    ssl_certificate {{ simp_le_home_dir }}/simp_le/{{ vhost.name }}/fullchain.pem;
    ssl_certificate_key {{ simp_le_home_dir }}/simp_le/{{ vhost.name }}/key.pem;
{% else %}
    ssl_certificate {{ vhost.https_cert | default('/etc/ssl/certs/ssl-cert-snakeoil.pem') }};
    ssl_certificate_key {{ vhost.https_key | default('/etc/ssl/private/ssl-cert-snakeoil.key') }};
{% endif %}

    root /var/www/html;

    index index.html;
    location / {
        try_files $uri $uri/ =404;
    }
}
