## dovecot-sql.conf
#
# dovecot configuration for PostgreSQL passwords

driver = pgsql
connect = host={{ mail_auth_db_host }} dbname={{ mail_auth_db_name }} user={{ mail_auth_db_user }} password={{ mail_auth_db_password }}

password_query = SELECT username, domain, password \
                 FROM {{ mail_auth_db_table }} \
                 WHERE username = '%n' AND domain = '%d' AND active IS TRUE
