## dovecot.conf
#
# local Dovecot configuration

service auth {
    unix_listener /var/spool/postfix/private/auth {
        mode = 0660
        user = postfix
        group = postfix
    }
}

passdb {
{% if mail_auth_type == 'system' %}
    driver = pam
{% elif mail_auth_type == 'sql' %}
    driver = sql
    args = /etc/dovecot/dovecot-sql.conf.ext
{% elif mail_auth_type == 'virtual' %}
    driver = passwd-file
    args = scheme= username_format=%u /etc/dovecot/shadow
{% endif %}
}

userdb {
{% if mail_auth_type == 'system' %}
    driver = passwd
{% elif mail_auth_type == 'sql' %}
    driver = static
    args = uid=65534 gid=65534 home=/nonexistent
{% elif mail_auth_type == 'virtual' %}
    driver = static
    args = uid=vmail gid=vmail home={{ mail_virtual_base }}/%d/%n
{% endif %}
}
{% if mail_auth_type == 'virtual' %}

mail_location = maildir:~/

first_valid_uid = {{ mail_vmail_user_id }}
last_valid_uid =  {{ mail_vmail_user_id }}
first_valid_gid = {{ mail_vmail_user_id }}
last_valid_gid =  {{ mail_vmail_user_id }}
{% endif %}
{# imap is enabled when mail_delivery_enabled is true #}
{% if mail_delivery_enabled %}

{%   if not mail_starttls_enabled %}
service imap-login {
  inet_listener imap {
    # turn off plaintext/StartTLS port, use implicit imaps only
    port = 0
  }
}

{%   endif %}
ssl = required
disable_plaintext_auth = yes

ssl_key  = <{{ mail_tls_key }}
ssl_cert = <{{ mail_tls_cert }}

{%   if dovecot_version is version('2.3', '>=')  %}
ssl_min_protocol = TLSv1.2
{%   else %}
ssl_protocols = !SSLv3 !TLSv1 !TLSv1.1
{%   endif %}
ssl_cipher_list = {{ mailserver_ciphers }}
ssl_prefer_server_ciphers = yes
{% endif %}

# Some clients use SASL LOGIN method instead of PLAIN
auth_mechanisms = plain login
