## postfwd.cf
#
# Postfix firewall configuration to limit sent e-mails per user

id=RULE001
    sasl_username=~/.*/
    action=rcpt(sasl_username/{{ mail_limit_count }}/{{ mail_limit_period }}/450 4.7.1 Too many e-mails)
