{# It is needed to transform the list of `mail_auth_users[@].allowed_emails` to `email user...` #}
{# There is a problem to dynamically generate a dictionary inside jinja #}
{# so it is implemented in two for cycles  #}
{# #}
{# Collect enabled e-mails and domains from all users #}
{% set ns = namespace(all_emails=[], all_domains=[]) %}
{% for user in mail_auth_users %}
{%   set ns.all_emails = ns.all_emails | union(user.allowed_emails | default([])) %}
{%   set ns.all_domains = ns.all_domains | union(user.allowed_domains | default([])) %}
{% endfor %}
{% for virtual_user in mail_virtual_users %}
{%   set ns.all_emails = ns.all_emails | union([virtual_user.email]) %}
{%   set ns.all_emails = ns.all_emails | union(virtual_user.aliases | default([])) %}
{%   set ns.all_emails = ns.all_emails | union(virtual_user.allowed_emails | default([])) %}
{%   set ns.all_domains = ns.all_domains | union(virtual_user.allowed_domains | default([])) %}
{% endfor %}
{# #}
{# Iterate over all e-mails and add all users with given e-mail to the list #}
{% for email in ns.all_emails | sort %}
{%   set ns = namespace(users=[]) %}
{%   set local, domain = email.split('@') %}
{%   for user in mail_auth_users %}
{%     if email in user.allowed_emails | default([]) or domain in user.allowed_domains | default([]) %}
{%       set ns.users = ns.users | union([user.name]) %}
{%     endif %}
{%   endfor %}
{%   for virtual_user in mail_virtual_users %}
{%     if email == virtual_user.email or email in virtual_user.aliases | default([]) or email in virtual_user.allowed_emails | default([]) %}
{%       set ns.users = ns.users | union([virtual_user.email]) %}
{%     endif %}
{%   endfor %}
{# Allow to send from given e-mail by given users #}
{{ email }} {{ ns.users | join(' ') }}
{% endfor %}
{# #}
{# Iterate over all domains and add all users with given domain to the list #}
{% for domain in ns.all_domains | sort %}
{%   set ns = namespace(users=[]) %}
{%   for user in mail_auth_users %}
{%     if domain in user.allowed_domains | default([])%}
{%       set ns.users = ns.users | union([user.name]) %}
{%     endif %}
{%   endfor %}
{%   for virtual_user in mail_virtual_users %}
{%     if domain in virtual_user.allowed_domains | default([])%}
{%       set ns.users = ns.users | union([virtual_user.email]) %}
{%     endif %}
{%   endfor %}
{# Allow to send from given e-mail by given users #}
@{{ domain }} {{ ns.users | join(' ') }}
{% endfor %}
