## virtual
#
# list of postfix virtual alias map
{% for user in mail_virtual_users %}
{%   for alias in user.aliases | default([]) %}
{{ alias }} {{ user.email }}
{%   endfor %}
{%   if user.forward_to is defined %}
{{ user.email }} {{ user.forward_to }}
{%   endif %}
{% endfor %}
{% for group in mail_virtual_groups %}
{{ group.email }} {{ group.destinations | join(" ") }}
{% endfor %}
