## rsnapshot.timer
#
# systemd timer to run rsnapshot service periodically

[Unit]
Description=Run {{ item.key }} {{ backup_target.name }} backups

[Timer]
{% if item.key == 'hourly' %}
{%   if backup_target.hourly_interval is not defined %}
{#   every hour #}
OnCalendar=*-*-* *:00:00
{%   else %}
{#   once every hourly_interval #}
OnCalendar=*-*-* 00/{{ backup_target.hourly_interval }}:00:00
{%   endif %}
RandomizedDelaySec=30min
{% elif item.key == 'daily' %}
OnCalendar=*-*-* 01:45:00
RandomizedDelaySec=10min
{% elif item.key == 'weekly' %}
OnCalendar=Sat *-*-* 03:45:00
RandomizedDelaySec=10min
Persistent=true
{% elif item.key == 'monthly' %}
OnCalendar=Fri *-*-07..13 03:45:00
RandomizedDelaySec=10min
Persistent=true
{% endif %}

[Install]
WantedBy=timers.target
