[Unit]
Description={{ python_app_name }} Python application
Wants=network.target
After=network.target

[Service]
Type=simple
User={{ _user_name }}
Group={{ _group_name }}
WorkingDirectory={{ _home_dir }}

Environment=VIRTUAL_ENV={{ _virtualenv_dir }}
Environment=PATH={{ _virtualenv_dir }}/bin:/usr/local/bin:/usr/bin:/bin
EnvironmentFile={{ _env_file }}

ExecStart={{ _virtualenv_dir }}/bin/python3 {{ _install_dir }}/{{ python_app_executable }}
{% for arg in python_app_args %}
    {{ arg | quote }}
{% endfor %}

Restart=always

[Install]
WantedBy=multi-user.target
