#!/bin/bash
set -o nounset
set -o errexit

SCRIPTNAME=${0##*/}
USAGE="USAGE
    $SCRIPTNAME --help
    $SCRIPTNAME -al source target

DESCRIPTION
    An alternative \`cp -al\` wrapper for rsnapshot to create \"snapshots\"
    named 'snapshot_YYYY-mm-dd_HH-MM-SS' and use their original names as
    symbolic links to that \"snapshots\". This is used to distinguish a date
    of the \"snapshot\" based on its name.

{% if rsnapshot_btrfs_backend %}
    On top of that, use btrfs (read-only) snapshot instead of hard links to make
    a backup \"snapshot\".

{% endif %}
OPTIONS
    --help
            Print this help and exit

ARGUMENTS
    All arguments are required

    -al
            rsnapshot calls \`cp\` with these arguments everytime

    source
{% if rsnapshot_btrfs_backend %}
            Path to a source btrfs subvolume
{% else %}
            Path to a source snapshot
{% endif %}

    target
            Path to a new snapshot to create

EXAMPLES

    Example usage for rsnapshot
        $SCRIPTNAME -al /mnt/backup/daily.0 /mnt/backup/daily.1
"


err_print() {
    echo "$SCRIPTNAME: error: $*" >&2
}


# usage ---------------------------------------------------
[[ $# -eq 1 ]] && [[ "$1" == '--help' ]] && {
    echo "$USAGE"
    exit 0
}

[[ $# -eq 3 ]] || {
    err_print "Wrong number of arguments ($#)"
    exit 1
}

options="$1"
source_link="${2%/}"
target_link="${3%/}"

[[ "$options" == '-al' ]] || {
    err_print "First argument ($options) must be literal '-al'"
    exit 1
}

source_snapshot=$(readlink -f "$source_link") || {
    err_print "Could not resolve snapshot name ($source_link)"
    exit 1
}

[[ -e "$target_link" ]] && {
    err_print "Path ($target_link) already exists"
    exit 1
}

{% if rsnapshot_btrfs_backend %}
btrfs subvolume show "$source_snapshot" &> /dev/null || {
    err_print "Path ($source_snapshot) is not btrfs subvolume"
    exit 1
}
{% else %}
[[ -d "$source_snapshot" ]] || {
    err_print "Path ($source_snapshot) is not a directory"
    exit 1
}
{% endif %}


# ---------------------------------------------------------
snapshot_base_dir=$(dirname "$target_link")
timestamp=$(stat --format '%Y' "$source_snapshot")
snapshot_name=$(date --date "@$timestamp" '+snapshot_%Y-%m-%d_%H-%M-%S')
target_snapshot="$snapshot_base_dir/$snapshot_name"

[[ -e "$target_snapshot" ]] && {
    err_print "Snapshot ($target_snapshot) already exists"
    exit 1
}

{% if rsnapshot_btrfs_backend %}
btrfs subvolume snapshot -r "$source_snapshot" "$target_snapshot" > /dev/null
{% else %}
cp -al -- "$source_snapshot" "$target_snapshot"
{% endif %}
ln -s "$snapshot_name" "$target_link"
