{% if resolv_domain != '' %}
domain {{ resolv_domain }}
{% endif %}
{% for domain in resolv_search_domains %}
search {{ domain }}
{% endfor%}
{% for nameserver in resolv_nameservers %}
nameserver {{ nameserver }}
{% endfor%}
