## pg_hba.conf
#
# PostgreSQL Client Authentication Configuration File

# TYPE  DATABASE        USER            ADDRESS                 METHOD
# ---------------------------------------------------------------------

{# local connections #}
# Database administrative login by Unix domain socket
local   all             postgres                                peer

# "local" is for Unix domain socket connections only
local   all             all                                     peer

# TCP local connections:
host    all             all             127.0.0.1/32            {{ pg_config_password_encryption }}
host    all             all             ::1/128                 {{ pg_config_password_encryption }}

{# replication #}
{% if pg_replication_enabled and inventory_hostname == pg_replication_master %}
{%   for address in pg_replication_standby_hosts %}
{# type database    user                      address       method  #}
host    replication {{ pg_replication_user }} {{ address }} {{ pg_config_password_encryption }}
{%   endfor %}
{% endif %}

{# database owner remote connections #}
{% for db in pg_databases %}
{%   set user = pg_databases[db].user|default(db) %}
{%   for host in pg_databases[db].remote_hosts|default([]) %}
{# type database user       address    method  #}
host    {{ db }} {{ user }} {{ host }} {{ pg_config_password_encryption }}
{%   endfor %}
{% endfor %}

{# extra users remote connections #}
{% for user in pg_users %}
{%   if user.state|default("present") == "present" %}
{%     for access in pg_users[user].remote_accesses|default([]) %}
{# type database               user            address           method  #}
host    {{ access.databases }} {{ user }} {{ access.host }} {{ pg_config_password_encryption }}
{%     endfor %}
{%   endif %}
{% endfor %}
