## recovery.conf
#
# PostgreSQL standby node configuration

standby_mode = 'on'
primary_conninfo = 'host={{ pg_replication_master }} port=5432 user={{ pg_replication_user }} password={{ pg_replication_password }}'
primary_slot_name = '{{ pg_replication_slot }}'
