#!/bin/bash
## backup-mysql.sh
#
# Author:       Vojtech Myslivec <vojtech@xmyslivec.cz>
# License:      GNU GPLv3
# Description:  Really dummy script to be run via cron as a backuper of MySQL
#               databases. Script will create a subdir with the datetime label.
#               This script assumes all databases (and tables) are stored with
#               InnoDB engine and forces mysqldump to run in single transaction
#
#               Files must be deleted with some cron job
#

set -o nounset
set -o errexit
set -o pipefail

# ----------------------------------------------------------
backup_root='{{ mariadb_backup.dir }}'

SCRIPTNAME="${0##*/}"
USAGE="USAGE
    $SCRIPTNAME -h|--help
    $SCRIPTNAME [subdir]

    Backup all MySQL databases to '$backup_root/subdir' directory.

    A 'subdir' can be used to separate i.e. 'hourly' and 'daily'
    backups. Default value is 'default'.

EXAMPLES
    # run backup of all databases
        $SCRIPTNAME

    # create backup files under 'daily' directory
        $SCRIPTNAME daily"

# ----------------------------------------------------------
message() {
    echo "$SCRIPTNAME[$1]: $2" >&2
}

error() {
    message 'err' "$*"
}

warning() {
    message 'warn' "$*"
}


# ----------------------------------------------------------
dump_database() {
    local database backup_file
    database="$1"
    backup_file="$backup_dir/${database}.sql.gz"
    shift

    mysqldump --skip-log-queries "$@" "$database" | gzip > "$backup_file"
}


backup_system_db() {
    dump_database 'mysql' --lock-all-tables
}


backup_db() {
    local database="$1"
    dump_database "$database" --single-transaction
}


# usage ----------------------------------------------------
[ $# -eq 1 ] && [ "$1" == '-h' -o "$1" == '--help' ] && {
    echo "$USAGE"
    exit 0
}

[ $# -le 1 ] || {
    echo "$USAGE" >&2
    exit 1
}

subdir="${1:-default}"

# checks ---------------------------------------------------
[ -d "$backup_root" ] || {
    error "root backup directory '$backup_root' does not exist"
    exit 2
}


mysql -BNe 'SHOW DATABASES;' >& /dev/null || {
    error "can not connect to mysql"
    exit 2
}

# ----------------------------------------------------------
databases="$(
    mysql -BNe 'SHOW DATABASES;' \
      | grep -vE '^(mysql|information_schema|performance_schema|#mysql50#lost\+found)$' \
      || true # ignore empty match
)"

rc=0
if [ -z "$databases" ]; then
    warning "There is no databases to backup"

else
    backup_dir="$backup_root/$subdir/$( date '+%Y-%m-%d_%H-%M-%S' )"
    mkdir -p "$backup_dir" || {
        error "can not create backup dir '$backup_dir'"
        exit 2
    }


    backup_system_db || {
        error "Backup error for mysql system database"
        rc=3
    }
    while read database; do
        backup_db "$database" || {
            error "Backup error for database '$database'"
            rc=3
        }
    done <<< "$databases"

fi

exit "$rc"
