#!/bin/bash
## backup-postgresql.sh
#
# Author:       Vojtech Myslivec <vojtech@xmyslivec.cz>
# License:      GNU GPLv3
# Description:  Really dummy script to be run via cron as a backuper of
#               PostgreSQL databases. Script will create a subdir with the
#               datetime label.
#
#               Files must be deleted with some cron job
set -o nounset
set -o errexit
set -o pipefail

# ----------------------------------------------------------
BACKUP_ROOT='{{ postgresql_backup_dir }}'

SCRIPTNAME="${0##*/}"
USAGE="USAGE
    $SCRIPTNAME -h|--help
    $SCRIPTNAME [subdir]

    Backup all PostgreSQL databases to '$BACKUP_ROOT/subdir' directory.

    A 'subdir' can be used to separate i.e. 'hourly' and 'daily'
    backups. Default value is 'default'.

EXAMPLES
    # run backup of all databases
        $SCRIPTNAME

    # create backup files under 'daily' directory
        $SCRIPTNAME daily"


# ----------------------------------------------------------
main() {
    [[ "${1:-}" == '-h' || "${1:-}" == '--help' ]] && {
        echo "$USAGE"
        return 0
    }

    [[ $# -le 1 ]] || {
        echo "$USAGE" >&2
        return 1
    }
    local subdir="${1:-default}"

    [[ -d "$BACKUP_ROOT" && -w "$BACKUP_ROOT" ]] || {
        error "root backup directory '$BACKUP_ROOT' does not exist or is not writable"
        return 2
    }

    psql --command='SELECT 1' >& /dev/null || {
        error "can not connect to postgres"
        return 2
    }

    backup_postgres "$subdir"
}


# ----------------------------------------------------------
backup_postgres() {
    local subdir="$1"
    local rc=0
    local databases

    databases="$(
        psql \
                --tuples-only \
                --no-align \
                --command='SELECT datname FROM pg_catalog.pg_database;' \
            | grep -vE '^template[0-9]+$' \
            || true
    )"
    [[ -z "$databases" ]] && {
        warning "There is no databases to backup"
        return 0
    }


    local backup_dir backup_file
    backup_dir="$BACKUP_ROOT/$subdir/$(date '+%Y-%m-%d_%H-%M-%S')"
    mkdir -p "$backup_dir" || {
        error "can not create backup dir '$backup_dir'"
        return 2
    }


    backup_file="$backup_dir/pg_globals"
    dump_globals > "$backup_file" || {
        error "Backup error while dumping globals"
        rc=3
    }

    while read database; do
        backup_file="$backup_dir/${database}.pg_dump"
        dump_database "$database" > "$backup_file" || {
            error "Backup error for database '$database'"
            rc=3
        }
    done <<< "$databases"

    return "$rc"
}


# ----------------------------------------------------------
dump_globals() {
    pg_dumpall --globals-only
}


dump_database() {
    local database="$1"
    pg_dump --format=custom "$database"
}


# ----------------------------------------------------------
message() {
    echo "$SCRIPTNAME: $1: $2" >&2
}

error() {
    message 'error' "$*"
}

warning() {
    message 'warning' "$*"
}


# ----------------------------------------------------------
main "$@"
