## jail.conf
#
# local configuration for fail2ban


[DEFAULT]

ignoreip = {{ (["127.0.0.1/8"] + fail2ban_ignore_hosts) | join(" ") }}

{# systemd is used for Debian Bookworm and above #}
{% if ansible_facts["distribution_version"] | int >= 12 %}
backend = systemd
logtarget = SYSTEMD-JOURNAL
{% endif %}
