# filter =============================================================
*filter
:INPUT DROP
{% if firewall.enable_forward | default(false) %}
:FORWARD ACCEPT
{% else %}
:FORWARD DROP
{% endif %}
:OUTPUT ACCEPT

:special -
:incoming -
:custom -


# INPUT --------------------------------------------------------------
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p icmpv6 -j ACCEPT

# link-local address
-A INPUT -s fe80::/10 -j ACCEPT
# multicast address
-A INPUT -d ff00::/8 -j ACCEPT

-A INPUT -j special
-A INPUT -j incoming
-A INPUT -j custom

-A INPUT -j REJECT --reject-with icmp6-port-unreachable


# Per-IP rules -------------------------
# TCP
{% for rule in firewall.special_tcp | default([]) %}
{%   if rule.ip6 is defined %}
-A special -s {{ rule.ip6 }} -p tcp -m tcp --dport {{ rule.port }} -j ACCEPT
{%   endif %}
{% endfor %}

# UDP
{% for rule in firewall.special_udp | default([]) %}
{%   if rule.ip6 is defined %}
-A special -s {{ rule.ip6 }} -p udp -m udp --dport {{ rule.port }} -j ACCEPT
{%   endif %}
{% endfor %}


# Globally open ports ------------------
{% if firewall.enable_ssh | default(true) %}
# failsafe ssh
-A incoming -p tcp -m tcp --dport 22 -j ACCEPT
{% endif %}
{% if firewall.enable_mdns | default(false) %}
# mDNS service on multicast address
-A incoming -d ff02::fb -p udp -m udp --dport 5353 -j ACCEPT
{% endif %}

# TCP
{% for port in firewall.incoming_tcp | default([]) %}
-A incoming -p tcp -m tcp --dport {{ port }} -j ACCEPT
{% endfor %}

# UDP
{% for port in firewall.incoming_udp | default([]) %}
-A incoming -p udp -m udp --dport {{ port }} -j ACCEPT
{% endfor %}


# Custom INPUT rules -------------------
{% for rule in firewall.custom6 | default([]) %}
-A custom {{ rule }}
{% endfor %}


COMMIT
